<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/header.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/style/register.css">
    <link rel="stylesheet" href="/style/nav.css">
</head>
<body>
<div th:replace="~{ header.html::header}"></div>
<div th:replace="~{ nav.html::navbar}"></div>


    <form action="/register" method="POST">
        <div class="register-banner">
           <h3>회 원 가 입</h3> 
        </div>
    <div class="register-option">
        <br><br><br>
        <p>아이디 * </p>
        <input id="username" type="text"  name="username">
        <br><br><br>
        <p>이메일 * (비밀번호 찾기용)</p>
        <input id="email" type="email" name="email">
        <br><br><br>
        <p>비밀번호 * </p> 
        <input id="password" type="password" name="password">
        <br><br><br>
        <p>비밀번호 확인 *</p>
        <input id="passwordCheck" type="password" name="passwordCheck">
        <br><br><br><br>
        <hr>
        <br><br>
        <h4>프로필</h4>
        <br>
        <p>이름(필수)</p>
        <input type="text" name="displayName" id="displayName">
        <br><br><br><br>
        <button id="register-complete-button" type="submit">가입 완료</button>
    </div>    
    </form>





</body>
</html>